# Basic of Python

In [2]:
print("Hello world")

Hello world

In [4]:
# Single line comment

'''
Multi line comment
'''

print("hello")

hello

# Variable Declaration

In [5]:
a=10
type(a)

int

In [6]:
a

10

In [7]:
print(a)

10

In [8]:
tenth=10
b=40
c="abhi"

In [9]:
type(c)

str

In [10]:
1a=10

SyntaxError: invalid decimal literal (3782790406.py, line 1)

In [11]:
a1=10

In [12]:
first_name="Abhishek"
print(first_name)

Abhishek

# Integer

In [13]:
a=10
type(a)

int

In [14]:
a+10

20

In [15]:
a*10

100

In [16]:
a/10

1.0

In [17]:
a%10

0

In [18]:
print(type(a))

<class 'int'>

In [19]:
a=10
b=20
print(a+b)

30

In [20]:
#floating
a=190.5
a

190.5

In [22]:
print(type(a))

<class 'float'>

In [23]:
#typecast
int(a)

190

In [24]:
float(b)

20.0

In [25]:
#boolean
a1=True
b1=False

In [26]:
type(a1)

bool

In [29]:
a1 & b1

False

In [30]:
a1 | b1

True

In [31]:
#string
name1="abhi"

In [32]:
print(name1)
print(type(name1))

abhi
<class 'str'>

In [33]:
name1 + " singh"

'abhi singh'

In [34]:
name1 + 1

TypeError: can only concatenate str (not "int") to str

In [35]:
name1 + str(1)

'abhi1'

In [36]:
#complex numbers
j=1.0-2.3j
j

(1-2.3j)

In [37]:
print(j.real,j.imag)

1.0 -2.3

In [38]:
#Dynamic Typing
a=10
a='abhi'

In [39]:
#strong typing
a="Abhi"

In [40]:
a+"1"

'Abhi1'

In [41]:
a+1

TypeError: can only concatenate str (not "int") to str

In [42]:
a + str(1)

'Abhi1'

In [43]:
#string formating

a=100
print("The value is - ",a)

The value is -  100

In [44]:
first_name="Abhishek"
last_name="Singh"
print("The first name is {} and last name is {}".format(first_name,last_name))

The first name is Abhishek and last name is Singh

In [45]:
print("The first name is {0} and last name is {1}".format(first_name,last_name))

The first name is Abhishek and last name is Singh

In [46]:
print("The first name is {1} and last name is {0}".format(first_name,last_name))

The first name is Singh and last name is Abhishek

In [47]:
print("The first name is {1} and last name is {0}".format(last_name,first_name))

The first name is Abhishek and last name is Singh

In [48]:
#input type
input("Enter the name ")

Enter the name abhi

'abhi'

In [49]:
a=input("Enter the number A ")
b=input("Enter the number B ")
print(a+b)

Enter the number A 2
Enter the number B 2
22

In [50]:
print(int(a) + int(b))

4

# Python Control flows

In [51]:
#if statement

val=input("Enter the number")
value_float=float(val)

Enter the number35.5

In [52]:
print(value_float)

35.5

In [53]:
if(value_float>100):
    print("the number is greater than 100")

In [54]:
10%2

0

In [55]:
val=input("Enter the number")
value_float=float(val)
if(value_float>100):
    print("the number is greater than 100")

Enter the number123
the number is greater than 100

In [57]:
val=input("Enter the number ")
value_float=float(val)
if(value_float%2==0):
    print("the number is even")
else:
    print("the number is odd")

Enter the number 21
the number is odd

In [58]:
10%2==0

True

In [60]:
10%2!=0

False

In [61]:
## Age form

age=float(input("Enter the age "))

if(age<18):
    print("Minor Age")
else:
    print("You are not minor")

Enter the age 23
You are not minor

In [62]:
## nested ifelse

age=float(input("Enter the age "))

if(age<18):
    print("Minor Age")
elif(age>=18 and age<=45):
    print("Mid Age")
else:
    print("Senior Citizen")

Enter the age 43
Mid Age

In [65]:
age=float(input("Enter the age "))

if(age<18):
    print("Minor Age")
    if(age<15):
        print("You are in School")
    else:
        print("You are in College")
elif(age>=18 and age<=45):
    print("Mid Age")
else:
    print("Senior Citizen")

Enter the age 17
Minor Age
You are in College

## Loop Statement

In [66]:
#for loop, while loop

lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i)

1
2
3
4
5
6
7

In [68]:
##find the sum of all the element in the list

lst=[1,2,3,4,5,6,7]
sum1=0
for i in lst:
    sum1=sum1+i
    print(sum1)
    
print(sum1)

1
3
6
10
15
21
28
28

In [70]:
##find dum of even and odd number

lst=[1,2,3,4,5,6,7]
even_sum=0
odd_sum=0

for i in lst:
    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
        
print("Even sum is {}".format(even_sum))
print("Odd sum is {}".format(odd_sum))

Even sum is 12
Odd sum is 16

# List

### A list is a data structure in Python that is mutable, changeable and ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as string are defined as characters between quotes, lists are defined by having values between square brackets []

In [71]:
type([])

list

In [72]:
##mutable vs immutable
str1="abhi"
print(str1)
type(str1)

abhi

str

In [73]:
str1="singh"
print(str1)

singh

In [74]:
str1[0]

's'

In [75]:
str1[3]

'g'

In [76]:
str1[2]="k"

TypeError: 'str' object does not support item assignment

In [77]:
##string are immutable

In [79]:
#Lists
[]

[]

In [86]:
lst=[1,2,3,4,"abhi","hello"]

In [87]:
print(lst)

[1, 2, 3, 4, 'abhi', 'hello']

In [88]:
print(lst[0])

1

In [89]:
lst[4]="singh"

In [90]:
print(lst)

[1, 2, 3, 4, 'singh', 'hello']

In [91]:
lst=list((1,2,3,4,5))
type(lst)
print(lst)

[1, 2, 3, 4, 5]

In [92]:
for i in lst:
    print(i)

1
2
3
4
5

In [93]:
len(lst)

5

In [94]:
max(lst)

5

In [95]:
min(lst)

1

In [96]:
#Append

In [97]:
lst

[1, 2, 3, 4, 5]

In [98]:
##append is used to add element in the  list

In [99]:
lst.append("abhi")

In [100]:
lst

[1, 2, 3, 4, 5, 'abhi']

In [101]:
lst.append(["singh","hello"])

In [102]:
lst

[1, 2, 3, 4, 5, 'abhi', ['singh', 'hello']]

In [103]:
lst[6]

['singh', 'hello']

In [104]:
lst[6][1]

'hello'

In [105]:
lst

[1, 2, 3, 4, 5, 'abhi', ['singh', 'hello']]

In [106]:
lst[:]

[1, 2, 3, 4, 5, 'abhi', ['singh', 'hello']]

In [107]:
lst[2:]

[3, 4, 5, 'abhi', ['singh', 'hello']]

In [108]:
lst[2:6]

[3, 4, 5, 'abhi']

In [109]:
# Insert

In [112]:
##insert in a specific order

lst.insert(2,"well")

In [113]:
lst

[1, 2, 'well', 3, 4, 5, 'abhi', ['singh', 'hello']]

In [114]:
#Extend Method

In [115]:
lst=[1,2,3,4,5,6]

In [116]:
lst

[1, 2, 3, 4, 5, 6]

In [118]:
lst.extend([8,9])

In [119]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [120]:
#various Operations that we can perform in List

In [121]:
lst=[1,2,3,4,5]

In [122]:
sum(lst)

15

In [123]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [124]:
lst+5

TypeError: can only concatenate list (not "int") to list

In [125]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0

In [126]:
#pop() Method

In [135]:
lst=[1,2,3,4,5]

In [136]:
lst

[1, 2, 3, 4, 5]

In [137]:
lst.pop()

5

In [138]:
lst

[1, 2, 3, 4]

# Sets

### A Sets is an unorderd collection data type that is iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is a based on a data structure known as hash table

In [2]:
type({})

dict

In [3]:
type({1})

set

In [5]:
type({1,2,3,4,5,'abhi'})

set

In [6]:
set([1,2,3,4,5,5])

{1, 2, 3, 4, 5}

In [7]:
type(set([1,2,3,4,5,5]))

set

In [8]:
print(([1,2,3,4,5,5]))

[1, 2, 3, 4, 5, 5]

In [9]:
print(set([1,2,3,4,5,5]))

{1, 2, 3, 4, 5}

In [10]:
set_var={1,2,3,4,3}

In [11]:
set_var

{1, 2, 3, 4}

In [12]:
set_var={"Avengers","Ironman","Hitman"}
print(set_var)
type(set_var)

{'Ironman', 'Avengers', 'Hitman'}

set

In [13]:
set_var[2]
## in set we can not do indexing

TypeError: 'set' object is not subscriptable

In [14]:
for i in set_var:
    print(i)

Ironman
Avengers
Hitman

In [15]:
## Inbuilt function in sets

set_var.add("Hulk")

In [17]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [18]:
print(set_var)

{'Ironman', 'Avengers', 'Hitman', 'Hulk'}

In [20]:
set_1=set([4,2,3,1,6,7])

In [21]:
print(set_1)

{1, 2, 3, 4, 6, 7}

In [22]:
set_1.add(0)

In [23]:
print(set_1)

{0, 1, 2, 3, 4, 6, 7}

In [37]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Hulk2"}

In [29]:
set2.intersection(set1)
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [30]:
set2.intersection_update(set1)

In [31]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [35]:
## Difference
set2.difference(set1)

{'Hulk2'}

In [36]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [38]:
##Difference Update

set2.difference_update(set1)

In [39]:
set2

{'Hulk2'}

# Dictionaries


### A dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets and they have keys and values.

In [40]:
type({1:"abhi"})

dict

In [41]:
type(dict())

dict

In [42]:
print(dict(1:"abhi"))

SyntaxError: invalid syntax (1411942859.py, line 1)

In [45]:
dict("name"="abhi","age"=23)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1822726609.py, line 1)

In [46]:
dict(name="abhi",age=23)

{'name': 'abhi', 'age': 23}

In [47]:
set_ex={1,2,3,4,5}

In [48]:
set_ex

{1, 2, 3, 4, 5}

In [49]:
type(set_ex)

set

In [50]:
## Let create a dictionary

my_dict={"car1": "Audi", "car2": "BMW","car3": "Mercedies Benz"}

In [51]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedies Benz'}

In [52]:
type(my_dict)

dict

In [53]:
my_dict["car1"]

'Audi'

In [54]:
my_dict[1]

KeyError: 1

In [55]:
my_dict.items()

dict_items([('car1', 'Audi'), ('car2', 'BMW'), ('car3', 'Mercedies Benz')])

In [56]:
for x in my_dict:
    print(x)

car1
car2
car3

In [58]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedies Benz

In [59]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercedies Benz')

In [60]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedies Benz'}

In [61]:
my_dict["car4"]="Ambassador"

In [62]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedies Benz', 'car4': 'Ambassador'}

## Nested Dictionary

In [63]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [64]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [65]:
car_type['car1']

{'Mercedes': 1960}

In [66]:
car_type['car1']['Mercedes']

1960

# Tuple

In [67]:
## create an empty Tuples

my_tuple=tuple()

In [68]:
type(my_tuple)

tuple

In [70]:
abc=()

In [71]:
type(abc)

tuple

In [72]:
my_tuple=("abhi","ankur","john")

In [73]:
print(type(my_tuple))

<class 'tuple'>

In [74]:
print(my_tuple)

('abhi', 'ankur', 'john')

In [78]:
my_tuple.count("abhi")

1

In [79]:
my_tuple.index("ankur")

1

In [80]:
list(my_tuple)

['abhi', 'ankur', 'john']